@import url('https://fonts.googleapis.com/css?family=Delius+Unicase:regular,700');
@import url('https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic');
@media screen and (min-width:600px) and (max-width:8000px){
.navbar{
    width: 98vw;
    height: 7vh;
    background: #6F6AF7;
    padding: 0px 0px 57px 100px;
    position: fixed;
    display: flex;
    align-items: center;
    margin-top: 0;
}

.logo{
    height: 228px;
    flex-shrink: 0;
    color: #FFF;
    font-family:"Delius Unicase";
    font-size: 130.43px;
    font-style: normal;
    font-weight: 800;
    padding-top: 97px;
    padding-right: 10rem;
    padding-left: 10rem;
}

li{
    list-style: none;
}

.links{
    width: 852px;
    height: 53px;
    flex-shrink: 0;
    color: #FFF;
    font-family:"DM Sans";
    font-size: 110.43px; 
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    gap:15.5rem;
    margin-left: 35rem;
    margin-bottom: 10rem;
}

.links #downarr{
    all:revert;
    list-style: none;
    width: 48px;
    height: 45px;
}

.links li:nth-last-child(-n+2){
    all:revert;
    list-style: none;
    width: 48px;
    height: 45px;
}

.search{
    display: flex;
    margin-left:1957px;
    margin-top:4rem;
    width: 744px;
    height: 88px;
    flex-shrink: 0;
    border-radius: 53px;
    background: #FFF;
    justify-content: space-around;
    padding: 20px 0px 20px 0px;
}

.s1{
    width: 120px;
    height: 25px;
    flex-shrink: 0;
    color: #9F9F9F;
    font-family: "DM Sans";
    font-size: 56.43px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
}

#s2{
    padding: 15px;
}

#s3{
    margin-left:320px;
    margin-top: 5rem;
    height: 80px;
}

.card1{
    padding-top: 520px;
    padding-left: 500px;
    display: flex;
    flex-direction:row;
    gap:10rem;
}

#s4{
    width: 1660px;
    height: 1677px;
    flex-shrink: 0;
    border-radius: 20px;
}

p{
    width: 2672px;
    height: 1580px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 6px solid #FFF;
    background: #E5D8FF;
    box-shadow: 3px 5px 27px 0px rgba(0, 0, 0, 0.25) inset;
    color: #6F7373;
    font-family: "DM Sans";
    font-size: 79px;
    font-style: normal;
    font-weight: 400;
    line-height: 178.7%;
    padding: 50px;
    margin-top: 10px;
}

.card2{
    margin-top:140px;
    display: flex;
    margin-left: 420px;
    gap:10rem;  
    justify-items: center;
    align-items: center;
}

.c1{
    display: flex;
    align-items: center;
    justify-items: center;
    width: 1060px;
    height: 480.481px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #929DFF;
    box-shadow: 0px 9px 31px 0px rgba(0, 0, 0, 0.40);
}

#t1{
    display: flex;
    justify-items: center;
    align-items: center;
    width: 244px;
    height: 36px;
    flex-shrink: 0;
    color: #FFF;
    font-family: "DM Sans";
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: 178.7%;
    letter-spacing: 2.16px;
    padding: 90px;
}   

.c2{
    display: flex;
    align-items: center;
    justify-items: center;
    width: 1060px;
    height: 480.481px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #734CF2;
    box-shadow: 0px 9px 31px 0px rgba(0, 0, 0, 0.40);
}

#t2{
    display: flex;
    justify-items: center;
    align-items: center;
    width: 244px;
    height: 36px;
    flex-shrink: 0;
    color: #FFF;
    font-family: "DM Sans";
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: 178.7%;
    letter-spacing: 2.16px;
    padding: 90px;
}

.c3{
    display: flex;
    align-items: center;
    justify-items: center;
    width: 1060px;
    height: 480.481px;
    flex-shrink: 0;
    border-radius: 12px;
    background:#D288FF;
    box-shadow: 0px 9px 31px 0px rgba(0, 0, 0, 0.40);
}

#t3{
    display: flex;
    justify-items: center;
    align-items: center;
    width: 244px;
    height: 36px;
    flex-shrink: 0;
    color: #FFF;
    font-family: "DM Sans";
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: 178.7%;
    letter-spacing: 2.16px;
    padding: 90px;
}

.c4{
    display: flex;
    align-items: center;
    justify-items: center;
    width: 1060px;
    height: 480.481px;
    flex-shrink: 0;
    border-radius: 12px;
    background:#000;
    box-shadow: 0px 9px 31px 0px rgba(0, 0, 0, 0.40);
}

#t4{
    display: flex;
    justify-items: center;
    align-items: center;
    width: 244px;
    height: 36px;
    flex-shrink: 0;
    color: #FFF;
    font-family: "DM Sans";
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: 178.7%;
    letter-spacing: 2.16px;
    padding: 90px;
}

.c4 img{
    margin:280px 0px 80px 580px;
    width: 600px;
    position: fixed;
}


.card3{
    display: flex;
    flex-direction: row;
    width: 4768px;
    height: 2195px;
    flex-shrink: 0;
    border-radius: 21px;
    background: #483EFF;
    margin-left: 390px;
    margin-top: 25rem;
    margin-bottom: 10rem;
}

.verb{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    margin-left: 60px;
    gap:10rem;  
    padding: 15rem;
}

.verb #b1{
    padding:80px 20px 0px 240px;
    width: 1207px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 25px;
    background: #BCE0F6;
    box-shadow: 0px 6px 35px 0px rgba(0, 0, 0, 0.39);
    font-family: "DM Sans";
    font-size: 185px;
    font-style: normal;
    font-weight: 700;
    line-height: 178.7%;
    letter-spacing: 1.4px;
}

.verb #b2{
    padding:50px 130px 50px 100px;
    width: 1207px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 25px;
    border: 10px solid #FFF;
    color: #FFF;
    font-family: "DM Sans";
    font-size: 185px;
    font-style: normal;
    font-weight: 700;
    line-height: 178.7%;
    letter-spacing: 1.4px;
}

.verb #b3{
    padding:50px 0px 50px 250px;
    width: 1207px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 25px;
    border: 10px solid #FFF;
    color: #FFF;
    font-family: "DM Sans";
    font-size: 185px;
    font-style: normal;
    font-weight: 700;
    line-height: 178.7%;
    letter-spacing: 1.4px;
}

.verb2{
    margin-top: 10rem;
    width: 2624px;
    height: 1880px;
    flex-shrink: 0;
    border-radius: 19px;
    background: #FFF;
}

.titleinfo{
    padding: 250px 30px 140px 180px;
}

#text1{
    color: #04285A;
    font-family: Inter;
    font-size: 218px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.99px;
}

.info{
    padding: 40px 30px 40px 320px;
    display: flex;
    flex-direction: row;
    gap: 8em;
}

.info .info1{
    width: 85px;
    height: 26px;
    flex-shrink: 0;
    color: #04285A;
    font-family: Roboto;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 2.94px;
}

.info .info2{
    margin-left: 170px;
    width: 85px;
    height: 26px;
    flex-shrink: 0;
    color: #143565;
    font-family: Roboto;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.94px;
}

button{
    width:680px;
    height: 220px;
    background-color: #000;
    color: #FFF;
    font-size: 98px;
    border-radius: 12px;
    margin:750px 10px 20px 1620px ;
}   

.desktop{
    height: 150vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

div.image1{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 800px;
    margin-top: 1200px;
    margin-left: 120px;
}

#s6{
    top: 15%;
    width: 174px;
    height: 174px;
    border-radius: 18px;
    border: 8px solid #000;
    background: #FFF;
}

#facebook{
    top: 15%;
    width: 185px;
    height: 185px;
}

#twitter{
    top: 15%;
    width: 185px;
    height: 185px;
}
}
/* and (max-width:7999px) */
@media screen and (min-width: 300px) and (max-width:500px) {
    .navbar{
        display:none ;
    }
    .desktop{
        display: none;
    }
}
